<configuration>
  <property name="RESULT_DIR" value="result"/>
  <property name="LOG_DIR" value="logs"/>

  <!-- common log settings-->
  <appender name="COMMON" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/out.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <root name="scanner.Main" level="debug">
    <appender-ref ref="COMMON"/>
  </root>

  <!-- brute log settings-->
  <appender name="BRUTE" class="ch.qos.logback.core.FileAppender">
    <file>${RESULT_DIR}/bruted.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="scanner.runner.logging.LoggerModule" level="info">
    <appender-ref ref="BRUTE"/>
  </logger>

  <!-- ffmpeg log settings-->
  <appender name="FFMPEG" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/ffmpeg.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="scanner.ffmpeg.FFMpegExecutor" level="info">
    <appender-ref ref="FFMPEG"/>
  </logger>

  <logger name="scanner.ffmpeg.FFMpegFrameSaver" level="info">
    <appender-ref ref="FFMPEG"/>
  </logger>

  <logger name="scanner.ffmpeg.FFMpegLogReader" level="info">
    <appender-ref ref="FFMPEG"/>
  </logger>

  <logger name="scanner.ffmpeg.FFMpegProcessKiller" level="info">
    <appender-ref ref="FFMPEG"/>
  </logger>

</configuration>